config/river/init
config/cmus/autosave
config/cmus/cache
config/cmus/lib.pl
config/cmus/playlists
config/cmus/*-history
config/nnn/bookmarks
config/nnn/mounts
config/nnn/sessions
config/nvim/plugin
config/qutebrowser/*marks
config/qutebrowser/greasemonkey
config/zsh/.zcompdump*
